// feb 2021
//Author: William Augusto

@import "variables.scss";

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: $f1;
    list-style: none;
    font-weight: 400;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

body{
    background: $c1;
}

// basics
[middle]{
    left: 50%;
    transform: translateX(-50%);
}

[center]{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

[pr]{
    position: relative;
}

.raleway{
    font-family: $f2;
}

.lato{
    font-family: $f3;
}

.sp-4{
    letter-spacing: 0.4px;
}

.title-1{
    margin: 15px 0px 23px 0px;
    font-size: 21px;
    color: $c5;
}

.title-2{
    margin-bottom: 3px;
    font-size: 25px;
    color: $c7;
}

.description{
    font-size: 16px;
    color: $c4;
}


.content{
    position: relative;
}

.w-300{
    width: 100%;
    padding: 0 24px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media(min-width: 700px) {
    .title-1{
        margin: 50px 0px 20px 0px;
        font-size: 28px;
    }
    
    .title-2{
        font-size: 26px;
    }
    
    .description{
        font-size: 18px;
    }
    
}

@media(min-width: 1024px){
    .content{
        width: 800px;
        left: 50%;
        transform: translateX(-50%);
    }    
}