// feb 2021
//Author: William Augusto

//variables
$lc1: #62DDBD;
$lc2: #46CEAD;
$lc3: #35BB9B;
$lc4: #F44336;
$lc5: #29B6F6;
$c1:  #090909;
$c2:  #111111;
$c3:  #1B1C1F;
$c4:  #414143;
$c5:  #F5F5F5;
$c6:  #FFFFFF;
$c7:  #ebe8e8;
$c8: #141414;
$f1: 'Poppins', sans-serif;
$f2: 'Raleway', sans-serif;
$f3: 'Lato', sans-serif;
